/*
/*/

!.gitignore
!train_text2pal.py
!/text2pal/
!/pal2color/
!train_bird256.py
!install_pre.sh
/*/logs
/*/models
/*/__pycache__
/*/.DS_Store
/*/preprocess*
/*/model_sampling.py
/*/gan_train.py
